@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center body-container">
   <div class="mt-5">
       <h2 class="display-4">Welcome to ATH Shoop Network System</h2>
       <h3 class="mt-4">We hope that you will be enjoyed during using our application.</h3>    
   </div>
   <div class="mt-4">
       <h5>
           ATH Shoop Network System is super system, with many interesting features, which will be implemented in the future. 
           <br /> Start using our simple system now.
       </h5>
       @* <div class="row"> *@
       @*     <div class="col-6"> *@
       @*         <img class="img-fluid" src="img/happy_man_2.png" /> *@
       @*     </div> *@
       @*     <div class="col-6"> *@
       @*         <img class="img-fluid" src="img/happy_man.png" /> *@
       @*     </div> *@
       @* </div> *@
      
   </div>
</div>



