@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
  font-size: 14px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  
  footer
  {
    bottom: unset;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height:100%;
}

main {
  flex: 1;
}

footer {
  margin-top:50px;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
}

.render-body
{
  display:flex;
  flex-flow: column;
  min-height: 100vh;
}

.body-container
{
  margin-top:5rem;
}

.mt-6
{
  margin-top: 4rem!important;
}

#navbar-layout
{
  background-color: #212529;
}